/* CSS Reset */

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

// General
body {
    line-height: 1;

    ol, ul {
        list-style: none;
    }
    
    blockquote, q {
        quotes: none;
    }
    
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

// Styles

// Header

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;

    nav { 

        li {
            display: inline-block;
            padding: 5px 10px;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    .social-nav {
        justify-self: end;
    }
}

// Title Container

.title-container {
    text-align: center;


    .main-title {
        font-size: 68px;
        margin-bottom: 12px;
    }

    .motto {
        font-size: 16px;
    }
}

// Carousel

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;


  #slider {
      position: absolute;
      background-color: #fff;
      opacity: 0.7;
        
    .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }
    .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000;
        text-shadow: 2px 2px 2px #fff;
        letter-spacing: 2.5px;
        border-radius: 2.5px;
      
        .slide-box {
            background: rgba(255,255,255,0.7);
            padding: 30px;
        
            span {
                font-size: 5rem;
            }
        }   

    }
    
        .slide1 {
            background-image: url(../img/slide-img1.png)
        }

        .slide2 {
            background-image: url(../img/slide-img2.png)
        }

        .slide3 {
            background-image: url(../img/slide-img3.png)
        }
    }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  #arrow-left {
    z-index: 1;
    border-width: 20px 30px 20px 0;
    border-color: transparent #f8f8f8 transparent transparent;
    left: 0;
    margin-left: 30px;
  }
  
  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #f8f8f8;
    right: 0;
    margin-right: 30px;
  }

}