/* CSS Reset */

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

// General
body {
    line-height: 1;

    ol, ul {
        list-style: none;
    }
    
    blockquote, q {
        quotes: none;
    }
    
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

// Styles

// Buttons
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    
    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      
      #{$vertical}: 0; 
      #{$horizontal}: 0;
    }
  
    &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }
    
    &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }
    
    &:hover {
      color: $hover;
      
      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }
      
      &::before { transition-delay: 0s, 0s, $duration; }
      
      &::after { transition-delay: 0s, $duration, 0s; }
    }
  }
  
  .draw-border {
    @include btn-border-drawing(#000, green, 2.5px, top, left);
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 10px;
    padding: 15px 20px;
    letter-spacing: 2.5px;
    
        &:focus { outline: 2px dotted #55d7dc; 
        }
  }

// Header

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;

    nav { 

        li {
            display: inline-block;
            padding: 5px 10px;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    .social-nav {
        justify-self: end;
    }
}

// Title Container

.title-container {
    text-align: center;

    .main-title {
        font-size: 68px;
        margin-bottom: 12px;
    }

    .motto {
        font-size: 16px;
    }
}

// Carousel

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;

  #slider {
      position: absolute;
      background-color: #fff;
      opacity: 0.7;
        
    .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }
    .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000;
        text-shadow: 2px 2px 2px #fff;
        letter-spacing: 2.5px;
        border-radius: 2.5px;
      
        .slide-box {
            background: rgba(255,255,255,0.7);
            padding: 30px;
        
            span {
                font-size: 5rem;
            }
        }   

    }
        .slide1 {
            background-image: url(../img/slide-img1.png)
        }

        .slide2 {
            background-image: url(../img/slide-img2.png)
        }

        .slide3 {
            background-image: url(../img/slide-img3.png)
        }
    }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  #arrow-left {
    z-index: 1;
    border-width: 20px 30px 20px 0;
    border-color: transparent #f8f8f8 transparent transparent;
    left: 0;
    margin-left: 30px;

    &:hover {
        border-color: transparent #D8D8D8 transparent transparent;
    }
  }
  
  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #f8f8f8;
    right: 0;
    margin-right: 30px;

    &:hover {
        border-color: transparent transparent transparent #D8D8D8;
    }
  }
}

//Blog Grid

.blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 60px;

    .single-tile {
        height: 600px;
        background-position: center;
        background-repeat: none;
        background-size: cover;

        .main-tile-content {
            padding-top: 2.5%;
            padding-left: 2.5%;

            span {
                font-size: 4rem;
            }
        }
    }

    .tile-1 {
        background-image: url(../img/tile0.png)
    }

    .quad-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .blog-tile {
            padding-top: 40px;
            min-height: 260px;
            background-size: cover;
            background-position: center;

            &:hover .tile-box {
                transition: 0.4s;
                opacity: 0.8;
            }

            .tile-box {
                padding: 20px;
                margin: 0 7.5px;
                background-color: #fff;
                opacity: 0;

                .tile-content {
                    text-align: center;
                    color: #000;
                    text-shadow: 2px 2px 2px #fff;
                    letter-spacing: 2.5px;
                }
            }
              
        }
    
        .tile-2 {
            background-image: url(../img/tile1.png)
        }
    
        .tile-3 {
            background-image: url(../img/tile2.png)
        }
    
        .tile-4 {
            background-image: url(../img/tile3.png)
        }
    
        .tile-5 {
            background-image: url(../img/tile4.png)
        }

        .tile-6 {
            background-image: url(../img/tile5.png)
        }
    
        .tile-7 {
            background-image: url(../img/tile6.png)
        }
    
        .tile-8 {
            background-image: url(../img/tile7.png)
        }
    
        .tile-9 {
            background-image: url(../img/tile8.png)
        }

        .tile-10 {
            background-image: url(../img/tile9.png)
        }
    
        .tile-11 {
            background-image: url(../img/tile10.png)
        }
    
        .tile-12 {
            background-image: url(../img/tile11.png)
        }
    
        .tile-13 {
            background-image: url(../img/tile12.png)
        }
    }
}


