/* CSS Reset */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

body ol, body ul {
  list-style: none;
}

body blockquote, body q {
  quotes: none;
}

body blockquote:before, body blockquote:after, body q:before, body q:after {
  content: '';
  content: none;
}

body table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
}

header nav li {
  display: inline-block;
  padding: 5px 10px;
}

header nav li a {
  text-decoration: none;
  color: #000;
}

header .social-nav {
  -ms-grid-column-align: end;
      justify-self: end;
}

.title-container {
  text-align: center;
}

.title-container .main-title {
  font-size: 68px;
  margin-bottom: 12px;
}

.title-container .motto {
  font-size: 16px;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.wrap #slider {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
}

.wrap #slider .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap #slider .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 2px #fff;
  letter-spacing: 2.5px;
  border-radius: 2.5px;
}

.wrap #slider .slide-content .slide-box {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
}

.wrap #slider .slide-content .slide-box span {
  font-size: 5rem;
}

.wrap #slider .slide1 {
  background-image: url(../img/slide-img1.png);
}

.wrap #slider .slide2 {
  background-image: url(../img/slide-img2.png);
}

.wrap #slider .slide3 {
  background-image: url(../img/slide-img3.png);
}

.wrap .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

.wrap #arrow-left {
  z-index: 1;
  border-width: 20px 30px 20px 0;
  border-color: transparent #f8f8f8 transparent transparent;
  left: 0;
  margin-left: 30px;
}

.wrap #arrow-left:hover {
  border-color: transparent #D8D8D8 transparent transparent;
}

.wrap #arrow-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #f8f8f8;
  right: 0;
  margin-right: 30px;
}

.wrap #arrow-right:hover {
  border-color: transparent transparent transparent #D8D8D8;
}

.draw-border {
  -webkit-box-shadow: inset 0 0 0 2.5px #000;
          box-shadow: inset 0 0 0 2.5px #000;
  color: #000;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.draw-border::before {
  border-top-width: 2.5px;
  border-right-width: 2.5px;
}

.draw-border::after {
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
}

.draw-border:hover {
  color: green;
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: green;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 10px;
  padding: 15px 20px;
  letter-spacing: 2.5px;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}
/*# sourceMappingURL=main.css.map */