/* CSS Reset */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}

body ol, body ul {
  list-style: none;
}

body blockquote, body q {
  quotes: none;
}

body blockquote:before, body blockquote:after, body q:before, body q:after {
  content: '';
  content: none;
}

body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.draw-border {
  -webkit-box-shadow: inset 0 0 0 2.5px #000;
          box-shadow: inset 0 0 0 2.5px #000;
  color: #000;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.draw-border::before {
  border-top-width: 2.5px;
  border-right-width: 2.5px;
}

.draw-border::after {
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
}

.draw-border:hover {
  color: green;
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: green;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 10px;
  padding: 15px 20px;
  letter-spacing: 2.5px;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
}

header nav li {
  display: inline-block;
  padding: 5px 10px;
}

header nav li a {
  text-decoration: none;
  color: #000;
}

header .social-nav {
  -ms-grid-column-align: end;
      justify-self: end;
}

.title-container {
  text-align: center;
  letter-spacing: 4px;
}

.title-container .main-title {
  font-size: 68px;
  margin-bottom: 12px;
}

.title-container .motto {
  font-size: 16px;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.wrap #slider {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
}

.wrap #slider .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap #slider .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 2px #fff;
  letter-spacing: 2.5px;
  border-radius: 2.5px;
}

.wrap #slider .slide-content .slide-box {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
}

.wrap #slider .slide-content .slide-box span {
  font-size: 5rem;
}

.wrap #slider .slide1 {
  background-image: url(../img/slide-img1.png);
}

.wrap #slider .slide2 {
  background-image: url(../img/slide-img2.png);
}

.wrap #slider .slide3 {
  background-image: url(../img/slide-img3.png);
}

.wrap .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

.wrap #arrow-left {
  z-index: 1;
  border-width: 20px 30px 20px 0;
  border-color: transparent #f8f8f8 transparent transparent;
  left: 0;
  margin-left: 30px;
}

.wrap #arrow-left:hover {
  border-color: transparent #D8D8D8 transparent transparent;
}

.wrap #arrow-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #f8f8f8;
  right: 0;
  margin-right: 30px;
}

.wrap #arrow-right:hover {
  border-color: transparent transparent transparent #D8D8D8;
}

.welcome {
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px 60px;
}

.welcome h2 {
  font-size: 48px;
  letter-spacing: 4px;
}

.welcome .welcome-text {
  padding: 20px;
  font-size: 24px;
  line-height: 48px;
}

.welcome .welcome-img {
  background-image: url(../img/welcome.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  -webkit-box-shadow: 1px 1px 1px grey;
          box-shadow: 1px 1px 1px grey;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px 60px;
}

.blog-grid .single-tile {
  height: 600px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.blog-grid .single-tile .main-tile-content {
  padding-top: 2.5%;
  padding-left: 2.5%;
}

.blog-grid .single-tile .main-tile-content span {
  font-size: 4rem;
}

.blog-grid .tile-1 {
  background-image: url(../img/tile0.png);
}

.blog-grid .quad-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.blog-grid .quad-grid .blog-tile {
  padding-top: 40px;
  min-height: 260px;
  background-size: cover;
  background-position: center;
}

.blog-grid .quad-grid .blog-tile:hover .tile-box {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.8;
}

.blog-grid .quad-grid .blog-tile .tile-box {
  padding: 20px;
  margin: 0 7.5px;
  background-color: #fff;
  opacity: 0;
}

.blog-grid .quad-grid .blog-tile .tile-box .tile-content {
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 2px #fff;
  letter-spacing: 2.5px;
  opacity: 1;
}

.blog-grid .quad-grid .tile-2 {
  background-image: url(../img/tile1.png);
}

.blog-grid .quad-grid .tile-3 {
  background-image: url(../img/tile2.png);
}

.blog-grid .quad-grid .tile-4 {
  background-image: url(../img/tile3.png);
}

.blog-grid .quad-grid .tile-5 {
  background-image: url(../img/tile4.png);
}

.blog-grid .quad-grid .tile-6 {
  background-image: url(../img/tile5.png);
}

.blog-grid .quad-grid .tile-7 {
  background-image: url(../img/tile6.png);
}

.blog-grid .quad-grid .tile-8 {
  background-image: url(../img/tile7.png);
}

.blog-grid .quad-grid .tile-9 {
  background-image: url(../img/tile8.png);
}

.blog-grid .quad-grid .tile-10 {
  background-image: url(../img/tile9.png);
}

.blog-grid .quad-grid .tile-11 {
  background-image: url(../img/tile10.png);
}

.blog-grid .quad-grid .tile-12 {
  background-image: url(../img/tile11.png);
}

.blog-grid .quad-grid .tile-13 {
  background-image: url(../img/tile12.png);
}

.blog-grid .previous-articles {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.blog-grid .previous-articles:hover {
  color: green;
}

.blog-grid .previous-articles i {
  margin-right: 10px;
}

.page-nav {
  padding: 30px 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  text-align: center;
}

.page-nav .page-nav-content h3 {
  border: 1px solid black;
  padding: 10px;
}

.page-nav .page-nav-content span {
  letter-spacing: 5px;
}

.page-nav .page-nav-content span i {
  color: black;
  margin-right: 5px;
  padding-top: 10px;
}

.page-nav .page-nav-content select {
  width: 100%;
  padding: 8px;
  background-color: white;
  border: thin solid green;
  display: inline-block;
  font: inherit;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-nav .page-nav-content .drop-down {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(16px + 2px), calc(100% - 15px) calc(16px + 2px), calc(100% - 40px) 8px;
  background-size: 5px 5px, 5px 5px, 1px 24px;
  background-repeat: no-repeat;
}

.page-nav .page-nav-content .drop-down:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 16px, calc(100% - 20px) 16px, calc(100% - 40px) 8em;
  background-size: 5px 5px, 5px 5px, 1px 24px;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.page-nav .page-social-nav ul {
  padding-top: 10px;
}

.page-nav .page-social-nav ul li {
  display: inline-block;
  padding: 0 5px;
}

.page-nav .page-social-nav ul li i {
  color: black;
  font-size: 20px;
  padding: 0 10px;
}

.social-media-data-bar {
  height: 30px;
  background-color: #F8F8F8;
  padding: 15px 40px 0 40px;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.social-media-data-bar span {
  letter-spacing: 2px;
}

.social-media-data-bar span i {
  margin-right: 5px;
}

.copyright {
  text-align: center;
  background-color: #F8F8F8;
}

.copyright p {
  border-top: 1px solid black;
  margin: 0;
  padding: 20px 0;
}
/*# sourceMappingURL=main.css.map */